{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
    <div class="jumbotron">
        <h1 id="color-override">Queue Burgers.  Eat 'em</h1>
        <p id="color-override">Enter the Burgers below, click on the buttons to eat or trash the leftovers</p>
        <h2 id="color-override">Enter the burger you want to make</h2>
    
        <card>
        <img src="/assets/img/hamburger-svg.png" alt="tasty_burger" id="burger1">

        {{!-- <img src="../public/assets/img/burger.png" alt="tasty_burger" width="200" height="300" id="burger2"> --}}
        {{!-- <img src="../public/assets/img/burger2.png" alt="tasty_burger" width="200" height="300" id="burger3"> --}}
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" id="color-override">New Burger:</label>
                    <input type="text" id="newburger" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-success" id="addburger"><span class="fa fa-thumbs-up"></span></button>
                </div>
            </form>
        </card>
    </div><!-- /jumbotron -->

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="card card-default">
                <div class="card-heading" id="lefthead"><strong>New Burgers</strong></div>
                <div class="card-body leftcard">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="card card-default">
                <div class="card-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="card-body rightcard">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->
</div><!-- /container -->